<aside class="main-sidebar" style="position:fixed">
  <section class="sidebar">

   
    <ul class="sidebar-menu">
      <li class="header">MODULOS</li>
      <!--<li class="treeview">
        <a href="#"><i class="fa fa-users"></i> <span>Call Center</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li><a href="#">Seguimiento</a></li>
          <li><a href="#">Satisfacción</a></li>
        </ul>
      </li>-->
      <li class="treeview">
        <a href="#"><i class="fa fa-paste"></i> <span>Inventario</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li><a routerLink="/inventario/lista">Inventario</a></li>
          <li><a routerLink="/inventario/insumos">Insumos</a></li>
          <li><a routerLink="/inventario/proveedores">Proveedores</a></li>
          <li><a routerLink="/inventario/relacion">Relación</a></li>
        </ul>
      </li>
      <li class="treeview">
          <a href="#"><i class="fa fa-calculator"></i> <span>Control Interno</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
          <ul class="treeview-menu">
            <!--<li><a href="#">Cuentas por Cobrar</a></li>-->
            <li><a href="#">Cuentas por Pagar</a></li>
            <!--<li><a href="#">Comp. Liverpool</a></li>-->
          </ul>
        </li>
      <!--<li class="treeview">
        <a href="#"><i class="fa fa-print"></i> <span>Operación</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li><a href="#">Diseño</a></li>
          <li><a href="#">Impresión</a></li>
          <li><a href="#">Preparación</a></li>
          <li><a href="#">Entrega/Instalación</a></li>
        </ul>
      </li>-
      
      <li><a href="#"><i class="fa fa-check-square"></i> <span>Tablero de Procesos</span></a></li>
      <li><a href="#"><i class="fa fa-bar-chart"></i> <span>Indicadores</span></a></li>-->
    </ul>
  </section>
</aside>